<h2 class="heading text-center"> Upload Documents</h2>

<div class="row mt-4">
	<div class="col-xl">

		<div class="card">
			<div class="card-body">
				<form class="mb-xl-4">
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Salary Payslip</label>
						<div class="col-sm-9">
							<!-- <label for="exampleFormControlFile1"></label> -->
							<input type="file" class="form-control-file" id="exampleFormControlFile1">
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Voter ID</label>
						<div class="col-sm-9">
							<input type="file" class="form-control-file" placeholder="Voter ID">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">NOC</label>
						<div class="col-sm-9">
							<input type="file" class="form-control-file" placeholder="NOC">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Agreement To Sale</label>
						<div class="col-sm-9">
							<input type="file" class="form-control-file" placeholder="Agreement To Sale">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">LOA</label>
						<div class="col-sm-9">
							<input type="file" class="form-control-file" placeholder="LOA">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Loan Id</label>
						<div class="col-sm-9">
							<input type="file" class="form-control-file" placeholder="Loan Id">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-9 offset-sm-3">
							<button type="submit" class="btn btn-primary px-4">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>